* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

li > ul {
  transform: translatex(100%) scale(0);
}
li:hover > ul {
  transform: translatex(101%) scale(1);
}
li > button svg {
  transform: rotate(-90deg);
}
li:hover > button svg {
  transform: rotate(-270deg);
}

.group:hover .group-hover\:scale-100 {
  transform: scale(1);
}
.group:hover .group-hover\:-rotate-180 {
  transform: rotate(180deg);
}

.banner {
  background: url("./assets/banner.jpg") no-repeat center;
  width: 100%;
  background-size: cover;
}

.con-img {
  background: url("./assets/natural.jpg") no-repeat center;
  width: 100%;
  background-size: cover;
}

.overlay {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.myBgColor {
  /* background-image: linear-gradient(to right,rgb(243 244 246),#82fcf0,rgb(243 244 246)); */
  background-color: #1cc3b2;
}

.heading {
  line-height: 4rem;
}

/* SWIPER SLIDER */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  padding: 0;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-progressbar-fill {
  background: #1cc3b2 !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #1cc3b2;
  padding: 0 2rem;
}

/* TABS in trips details */

.bloc-tabs {
  display: flex;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
}

.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: #1cc3b2;
}

.content-tabs {
  flex-grow: 1;
  height: 100vh;
}
.content {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.content h2 {
  padding: 0px 0 5px 0px;
}

.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}

.content p {
  width: 100%;
  height: 100%;
}

.active-content {
  display: block;
}

/* Login */

.login {
  background: url("./assets/natural.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Contact */
.contact {
  background: url("./assets/banner.jpg") no-repeat center;
  background-size: cover;
}

.custom-leading {
  line-height: 3rem;
}

/* Testimonial Blockquote design */
blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: "\2014 \2009";
}
